.paragraphs-items>.entity:nth-child(even) {
  background-color: #ffffff !important;
}

.year {
    background-color: black !important;
    font-style: normal !important;
}

.year_color {
    color: white !important;
}

.study {
    background-color: #DFDFDF !important;
}

.coop {
    background-color: #FFD54F !important;
}

.term {
    background-color: #787878 !important;
    font-style: normal !important;
}

.term_color {
    color: white !important;
}

.off {
    background-color: #FFFFAA !important;
}

table p {
    font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif !important;
    font-size: 1rem !important;
    margin: 0.5rem;
}

.mid-content {
  padding: 0 !important;
}

@media only screen and (min-width: 641px) {
  .col-66 {
    text-align: left !important;
  }
  .col-33 {
    text-align: right;
  }
  .tablesaw-stack td, .tablesaw-stack th, table p {
    text-align: center !important;
  }
  
  .custom_table {
    width: 700px !important;
    margin: 0 auto !important;
  }
  
  .table {
    margin: inherit !important;
    width: 50% !important;
    min-width: 50% !important;
  }

  th, td {
      border: 2px solid white !important;
  }
}

@media only screen and (max-width: 641px) {
  h2, .marketing-item-wrap {
    margin-bottom: 30px !important;
  }
  
  .responsive-year {
      color: white !important;
      display: flex !important;
  }
  
  td {
      display: flex !important;
  }
}